<?xml version="1.0" encoding="UTF-8"?>
<!--
    Active la mise à jour à chaud du fichier de config toutes les 30 secondes (par défaut 1 minute)
    <configuration scan="true" scanPeriod="30 seconds" >
-->
<configuration>

    <appender name="CONSOLE-APPENDER" class="ch.qos.logback.core.ConsoleAppender">

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} [%X{carstRunId}] %highlight(%-5level) %-30logger{0} : %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="EMAIL" class="ch.qos.logback.classic.net.SMTPAppender">
        <smtpHost>ssl0.ovh.net</smtpHost>
        <smtpPort>465</smtpPort>
        <SSL>true</SSL>
        <username>opencarst@pixelife.net</username>
        <!-- java -DMAIL_PASSW="mon password"        -->
        <password>${MAIL_PASSW}</password>
        <to>jeromebise@hotmail.com</to>
        <from>opencarst@pixelife.net</from>
        <subject>METEOR : %m{20}</subject>
        <layout class="ch.qos.logback.classic.html.HTMLLayout"/>
        <cyclicBufferTracker class="ch.qos.logback.core.spi.CyclicBufferTracker">
            <bufferSize>1</bufferSize>
        </cyclicBufferTracker>
    </appender>

    <root level="info">
        <appender-ref ref="CONSOLE-APPENDER" />
        <appender-ref ref="EMAIL" />
    </root>

</configuration>

