<?xml version="1.0" encoding="UTF-8"?>
<!--
    Active la mise à jour à chaud du fichier de config toutes les 30 secondes (par défaut 1 minute)
    <configuration scan="true" scanPeriod="30 seconds" >
-->
<configuration>

    <property name="LOG_PATH" value="${LOG_PATH:-/home}" />

    <springProfile name="!dev">
        <appender name="FILE-APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <prudent>true</prudent>

            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <!-- daily rollover -->
                <fileNamePattern>${LOG_PATH}/${METEOR_SERVICE}/log/meteor.%d{yyyy-MM-dd}.txt</fileNamePattern>

                <!-- keep 30 days' worth of history capped at 3GB total size -->
                <maxHistory>30</maxHistory>
                <totalSizeCap>50MB</totalSizeCap>
            </rollingPolicy>

            <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                <pattern>%d{HH:mm:ss.SSS} %highlight(%-5level) %-30logger{0} : %msg%n</pattern>
            </encoder>
        </appender>

        <appender name="EMAIL" class="ch.qos.logback.classic.net.SMTPAppender">
            <smtpHost>ssl0.ovh.net</smtpHost>
            <smtpPort>465</smtpPort>
            <SSL>true</SSL>
            <username>opencarst@pixelife.net</username>
            <password>${EMAIL_PASSWORD}</password>
            <to>jeromebise@hotmail.com</to>
            <from>opencarst@pixelife.net</from>
            <subject>${METEOR_SERVICE} : %m{20}</subject>
            <layout class="ch.qos.logback.classic.html.HTMLLayout"/>
            <cyclicBufferTracker class="ch.qos.logback.core.spi.CyclicBufferTracker">
                <bufferSize>1</bufferSize>
            </cyclicBufferTracker>
        </appender>
    </springProfile>


    <appender name="CONSOLE-APPENDER" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} %highlight(%-5level) %-30logger{0} : %msg%n</pattern>
        </encoder>
    </appender>

    <springProfile name="dev">
        <root level="info">
            <appender-ref ref="CONSOLE-APPENDER" />
        </root>
    </springProfile>
    <springProfile name="ci">
        <root level="info">
            <appender-ref ref="CONSOLE-APPENDER" />
            <appender-ref ref="FILE-APPENDER" />
        </root>
    </springProfile>
    <springProfile name="prod">
        <root level="info">
            <appender-ref ref="CONSOLE-APPENDER" />
            <appender-ref ref="FILE-APPENDER" />
            <appender-ref ref="EMAIL" />
        </root>
    </springProfile>

</configuration>

